@font-face {
	font-family: "Museo Sans 100";
  	src: url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.eot"); /* IE9*/
  	src: url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  	url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.woff2") format("woff2"), /* chrome、firefox */
  	url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.woff") format("woff"), /* chrome、firefox */
  	url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  	url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.svg#Museo Sans Cyrl W03 100") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('museosans_500/MuseoSans_500-webfont.woff2') format('woff2'),
         url('museosans_500/MuseoSans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.site-content{
	width: 500px;
	margin: 0 auto;
	background-color: white;
	background-image: url('../img/quizz-app-2.jpg');
	background-size: cover;
}

#regForm {
  
  margin: 100px auto;
  font-family: Raleway;
  min-height: 500px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.logo{
	padding-top: 20px;
	margin: 0 auto;
	float:none;
}

.button {
	font-family: "Museo Sans 100";
    background-color: #f9b234;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
} 

.header-text .title1 {
	font-family: 'Museo Sans 100', Arial, sans-serif;
	color: #0e7e6a;
	font-size: 24px;
	font-weight: bold;
}

.header-text .title2 {
	font-family: 'Museo Sans 500', Arial, sans-serif;
	color: #0e7e6a;
	font-weight: 900;
	font-size: 24px; 
}

.questions .title1 {
	font-family: 'Museo Sans 100', Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.tab-cover{
	width: 80%;
	font-size: 9px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #f9b234;
	background-color: white;
	 padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    min-height: 20px;
}

.tab-relate{
	width: 90%;
	font-size: 9pt;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #f9b234;
	background-color: #eee;
	 padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    min-height: 20px;
    color: black;
}

.circle-item{
	border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
	padding: 25px;
	cursor: pointer;
}

.light-green{
	background-color: #a8cece;
}

.dark-green{
	background-color: #6a9a90;
}

.light-brown{
	background-color: #d0b1a1;
}

.dark-gray{
	background-color: #bbbbbb;
}

.light-green-selected{
	background-color: #00a8a8;
}

.dark-green-selected{
	background-color: #00725b;
}

.light-brown-selected{
	background-color: #b67e62;
}

.dark-gray-selected{
	background-color: #444246;
}

/* Style the buttons */
.btn-opt {
	width: 80%;
	font-size: 12px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 1px solid #f9b234;
	background-color: white;
	 padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    min-height: 40px;
    color: black;
    font-family: "Museo Sans 100";
}

/* Style the active class, and buttons on mouse-over */
.active, .btn-opt:hover {
  background-color: #f9b234;
  color: white;
}