@font-face {
	font-family: "Museo Sans 100";
  	src: url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.eot"); /* IE9*/
  	src: url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  	url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.woff2") format("woff2"), /* chrome、firefox */
  	url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.woff") format("woff"), /* chrome、firefox */
  	url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  	url("museo_100/8954f2b56c8e8ad57b0763ea6ee0aa29.svg#Museo Sans Cyrl W03 100") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('museosans_500/MuseoSans_500-webfont.woff2') format('woff2'),
         url('museosans_500/MuseoSans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Sans 900';
    src: url('museosans_900/museosans_2-webfont.woff2') format('woff2'),
         url('museosans_900/museosans_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('museosans_300/museosans-300_0-webfont.woff2') format('woff2'),
         url('museosans_300/museosans-300_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('museosans_700/museosans_4-webfont.woff2') format('woff2'),
         url('museosans_700/museosans_4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.site-content{
	height: 100vh;
  overflow: auto;
	background-color: white;
	background-image: url('../img/quizz-app-2.jpg');
	background-size: cover;
}

#regForm {
  
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.logo{
	padding-top: 20px;
	margin: 0 auto;
	float:none;
}

.button {
  font-family: "Museo Sans 700";
  background-color: #f9b234;
  border: none;
  color: white;
  padding: 3% 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.3%;
  cursor: pointer;
  font-size: 3vw;
}

.header-text {
  margin-top: 25%;
}

.header-text .title1 {
	font-family: 'Museo Sans 300', Arial, sans-serif;
	color: #0e7e6a;
	font-size: 7vw;
}

.header-text .title2 {
	font-family: 'Museo Sans 900', Arial, sans-serif;
	color: #0e7e6a;
	font-size: 7vw; 
}

.questions {
  margin-top: 25%;
}

.questions .title1 {
  font-family: 'Museo Sans 300', Arial, sans-serif;
  font-size: 7vw;
}

.questions .title1-bold {
  font-family: 'Museo Sans 900', Arial, sans-serif;
  font-size: 6vw;
}

.questions .title2 {
  font-family: 'Museo Sans 500', Arial, sans-serif;
  font-size: 4vw;
  color: #f9b234;
}

.main-link {
  font-family: 'Museo Sans 700', Arial, sans-serif;
  color: #4d4d4f;
  font-weight: bold;
  font-size: 2.5em;
}

.main-link a:focus, a:hover {
  color: #4d4d4f;
  text-decoration: none;
}

.tab-cover{
	width: 80%;
	font-size: 9px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #f9b234;
	background-color: white;
	 padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    min-height: 20px;
}

.tab-relate {
  width: 90%;
  font-size: 2vw;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #f9b234;
  background-color: #eee;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  min-height: 20px;
  color: black;
  font-family: 'Museo Sans 300';
}

.relation-items {
  padding: 0 10%;
}

.circle-item{
	border-radius: 100% 100% 100% 100%;
	-moz-border-radius: 100% 100% 100% 100%;
	-webkit-border-radius: 100% 100% 100% 100%;
	padding: 25px;
	cursor: pointer;
}

.light-green{
	background-color: #a8cece;
}

.dark-green{
	background-color: #6a9a90;
}

.light-brown{
	background-color: #d0b1a1;
}

.dark-gray{
	background-color: #bbbbbb;
}

.light-green-selected{
	background-color: #00a8a8;
  color: white;
}

.dark-green-selected{
	background-color: #00725b;
  color: white;
}

.light-brown-selected{
	background-color: #b67e62;
  color: white;
}

.dark-gray-selected{
	background-color: #444246;
  color: white;
}

/* Style the buttons */
.btn-opt {
  width: 80%;
  font-size: 3vw;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #f9b234;
  background-color: white;
  height: 7vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5vh 0;
  cursor: pointer;
  min-height: 70px;
  color: black;
  font-family: "Museo Sans 100";
  padding: 0 6%;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn-opt:hover {
  background-color: #f9b234;
  color: white;
}

.spc-5 {
	margin: 20%;
}

.spc-2 {
	margin: 8%;
}

.parrafo {
	font-family: 'Museo Sans 500';
	padding: 2em 0;
}

.fondo {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #f9b234;
	background-color: #f9b234;
	padding: 10px 30px;
}

.p_7 {
	border: 0px;
	max-width: 100%;
}

.p_8 {
  border: 0px;
  max-width: 100%;
}

.text500 {
	font-family: 'Museo Sans 500';
}

.text100 {
	font-family: 'Museo Sans 100';
}

.text300 {
  font-family: 'Museo Sans 300';
}

.text900 {
  font-family: 'Museo Sans 900';
}

.text700 {
  font-family: 'Museo Sans 700';
}

.image-caption {
  font-size: 1.5vw;
}

.image-options {
  padding: 0 10vw;
}

/* Radio button */
/* The container-radio */
.container-radio {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 5vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom styles */
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
  margin-top: 0;
  margin-left: 8%;
}

.radio-text {
  padding-left: 2vw;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 22%;
  left: 0;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  border: 4px #f9b234 solid;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #f9b234;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark::after {
  top: 4.5%;
  left: 4.5%;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #fcca79;
}

.ampolla {
	max-width: 60%
}

@media (max-width:960px){
	.ampolla {
		max-width: 60%
	}	
}